body{
    background-color:silver ;
}
img{
    margin-left: -50px;
    padding: 30px;
    height: 250px;
    width: 200px;
}

.genre, a{
    padding-left: 40px;
}
#fiction{
    font-size: 40px;
    text-align: center;
}

#romance{
    font-size: 40px;
    text-align: center;
}

#detective{
    font-size: 40px;
    text-align: center;
}

#mystery{
    font-size: 40px;
    text-align: center;
}

#dilemma{
    font-size: 40px;
    text-align: center;
}

#true-story{
    font-size: 40px;
    text-align: center;
}

#comics{
    font-size: 40px;
    text-align: center;
}

.button{
    font-size: 20px;
    width: 30px;
}

button{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
}

.show{
    display: none;
}

#wrapper{
    display: inline-flex;
}
/* import */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
/* navbar */
ul>li{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family:'Varela Round' ;
}
.nav-item{
    padding-left: 20px;
}
.navbar-nav{
    cursor: pointer;
    transition: opacity, 2s In · Cubic;
    color: black;
    align-items: center;
    opacity: 1.5;
    font-size: 20px;
}
.navbar-toggler{
    align-items: center;
}
.navbar-dark .navbar-toggler {
    color: black;
    border-color:black;
}